@font-face {
    font-family: 'FCSubjectRounded';
    src: url('./FCSubjectRounded-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'FCSubjectRounded';
    src: url('./FCSubjectRounded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FCSubjectRounded';
    src: url('./FCSubjectRounded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FCSubjectRounded';
    src: url('./FCSubjectRounded-Heavy.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FCSubjectRounded';
    src: url('./FCSubjectRounded-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}