.wizard-isMobile { display: inline; }

@media screen and (max-width: 920px) {

  .wizard-menu { width: 85vw; }
  .wizard-menu > div { top: 23px; left: 20px; }
  .wizard-menu ul > li > div { width: 3rem; height: 3rem; }
  .wizard-isMobile { display: none; }

}