@import url('./assets/fonts/fonts.css');

.mantine-cdbiq { font-family: 'FCSubjectRounded', sans-serif; }

div[class*='mantine'] { font-family: 'FCSubjectRounded', sans-serif !important; }
div[class*='-singleValue'] { @apply text-black; }

.input-flex-row { margin-top: 1.5vh; position: relative; display: flex; flex-direction: row; justify-content: space-between; gap: 1rem; }
.input-container, .blank-container, .label-container, .check-container { flex: 1; width: 100%; }

.img-box-1 { padding: 16px; height: 45vh; width: 100%; object-fit: contain; }

.pointer { cursor: pointer; }
.preloading-backdrop { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); display: flex; justify-content: center; align-items: center; z-index: 9999; }

.preloading-dots { display: flex; align-items: center; }
.preloading-dots div { width: 10px; height: 10px; margin: 0 5px; background-color: white; border-radius: 50%; animation: preloading-dot-blink 1.4s infinite both; }
.preloading-dots div:nth-child(1) { animation-delay: 0.2s; }
.preloading-dots div:nth-child(2) { animation-delay: 0.4s; }
.preloading-dots div:nth-child(3) { animation-delay: 0.6s; }

@keyframes preloading-dot-blink {
  0%, 80%, 100% { transform: scale(1); }
  40% { transform: scale(1.5); }
}

.swal2-cancel { color: #f15a00 !important; }

.line-break-anywhere { line-break: anywhere; }
.custom-btn-select-file { min-width: 100px; }

.display-inline { display: inline; }
.link, .link:hover { cursor: pointer !important; }

.from-green-500 { --tw-gradient-from: rgba(5, 191, 55, 1) var(--tw-gradient-from-position); }
.to-green-400 { --tw-gradient-to: rgba(5, 191, 55, 0.7) var(--tw-gradient-to-position); }

.from-orange-500 { --tw-gradient-from: rgba(251, 156, 74, 1) var(--tw-gradient-from-position); }
.to-orange-400 { --tw-gradient-to: rgba(251, 156, 74, 0.7) var(--tw-gradient-to-position); }

.from-red-500 { --tw-gradient-from: rgba(249, 6, 6, 1) var(--tw-gradient-from-position); }
.to-red-400 { --tw-gradient-to: rgba(249, 6, 6, 0.7) var(--tw-gradient-to-position); }

.from-orange2-500 { --tw-gradient-from: rgba(247, 147, 26, 1) var(--tw-gradient-from-position); }
.to-orange2-400 { --tw-gradient-to: rgba(247, 147, 26, 0.7) var(--tw-gradient-to-position); }

.btn-md { padding-left: 0.8rem; padding-right: 0.8rem; padding-top: 0.3rem; padding-bottom: 0.3rem; font-size: 0.775rem; }
.btn-lg { padding-left: 1.25rem; padding-right: 1.25rem; padding-top: 0.5rem; padding-bottom: 0.5rem; font-size: 0.875rem; }
.btn-light { background-color: #fff; color: #000; font-weight: 400; }

.text-green { color: green!important; }
.text-blue, a.active, .active { --tw-text-opacity: 1 !important; color: rgb(67 97 238 / var(--tw-text-opacity)) !important; }

.progress-bar-container { width: 100%; height: 30px; background-color: #e0e0e0; border-radius: 15px; margin-top: 20px; }
.progress-bar { height: 100%; background-color: #4caf50; border-radius: 15px; text-align: center; line-height: 30px; color: white; transition: width 0.3s ease; }

.dropdown-custom > div { border-color: rgb(224 230 237 / var(--tw-border-opacity)) !important; }

.form-select, .form-select > div { border-color: rgb(224 230 237 / var(--tw-border-opacity)); }
.form-select > div {  border-width: 0; }

.z-1 { z-index: 1; }
.z-2 { z-index: 2; }
.z-3 { z-index: 3; }
.z-4 { z-index: 4; }
.z-5 { z-index: 5; }
.z-6 { z-index: 6; }
.z-7 { z-index: 7; }
.z-8 { z-index: 8; }
.z-9 { z-index: 9; }
.z-10 { z-index: 10; }
.z-11 { z-index: 11; }
.z-12 { z-index: 12; }
.z-13 { z-index: 13; }
.z-14 { z-index: 14; }
.z-15 { z-index: 15; }

.pawn-detail-status { display: flex;  width: 100%; height: 50px; justify-content: center; align-items: center; font-size: 15px; text-align: center; border-radius: 5px; }
.pawn-detail-table th { width: 120px; text-align: 'right'; }
.pawn-detail-table td { text-align: 'left'; }

.input-center .input-container > div input { text-align: center; }
.checkbox-center > label { justify-content: center; }